@import url('https://fonts.googleapis.com/css?family=Roboto:400|Spectral:400');
@import url('https://fonts.googleapis.com/css?family=Oregano:400');

html {
    font-size: 100%;
}/*16px*/

:root{
/*CSS variables*/
scroll-behavior: smooth;
--bg-color: #eff0f3;
--btn-bg-color: #ff8e3c;
--btn-text: #0d0d0d;
--para-text: #2a2a2a;
--heading-color: #0d0d0d;
--section-bg-color: #fffffe;
--card-bg-color: #eff0f3;
--transition: 0.3s all ease-in-out;
--border-radius: 0.5rem;
--para-font: 'Roboto',
    sans-serif;
    --heading-font: 'Spectral',
        serif;
        text-decoration: none;

        --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.25);
            --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
*{
    box-sizing: border-box;
}
body {
    background: var(--bg-color);
    font-family: var(--para-font);
    font-weight: 400;
    line-height: 1.35;
}

p {
    margin-bottom: 1rem;
    line-height: 1.5rem;
    font-style: var(--para-font);
    color: var(--para-text);
}

h1,
h2,
h3,
h4,
h5 {
    margin: 3rem 0 1.38rem;
    font-family: var(--heading-font);
    font-weight: 400;
    color: var(--heading-color);
    line-height: 1;
}

h1 {
    margin-top: 0;
    font-size: 3.052rem;
}

h2 {
    font-size: 2.441rem;
}

h3 {
    font-size: 1.953rem;
}

h4 {
    font-size: 1.563rem;
}

h5 {
    font-size: 1.25rem;
}

small,
.text_small {
    font-size: 0.8rem;
}

/*Custom CSS*/


/*nav starts*/
nav{
   width: 100%;
    background-color: var(--section-bg-color);
    box-shadow: var(--lightShadow);
    position: fixed;
    z-index: 2;
   
}
.nav-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-center{
    width: 90vw;
    min-height: 5rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

 .back{
    color: var(--btn-bg-color);
    font-family: 'Oregano', 'sans-serif';
}

.nav-logo{
    font-size: 2.5rem;
}
 .roads {
    color: black;
    font-family: 'Oregano', 'sans-serif';
}
.nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center; 
     padding-left: 0;
}

.nav-link{
    list-style: none;
    margin-left: 1rem;
    transition: var(--transition);
}

.nav-link a {
    color: var(--para-text);
    text-decoration: none;
    transition: var(--transition);
}
.nav-link a:hover{
cursor: pointer;
    color: var(--btn-bg-color);
}

.social-icon-links{
    padding-left: 0;
display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-icon-link{
    list-style: none;
    font-size: 1.2rem;
    margin-left: 1.2rem;
    transition: var(--transition);
}

.social-icon-link:hover{
    color: var(--btn-bg-color);
    cursor: pointer;
}
.nav-toggle{
    display: none;
}
@media screen and (max-width: 1100px){
 .nav-center{
     width: 100%;
   flex-direction: column; 
   justify-content: space-between;
 }
 .nav-logo{
     padding: 1rem;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 .nav-links{
     margin: 0 0;
     display: block;
     height: 0;
     overflow: hidden;
     transition: var(--transition);
}
.show{
    height: 220px;
}
.nav-link{
    margin: 0;
    padding: 0.7rem 1rem;
transition: var(--transition);
}
.nav-link a{
    color: var(--para-text);
text-decoration: none;
transition: var(--transition);
}
.nav-link:hover{
    background-color: var(--btn-bg-color);
    cursor: pointer;
}

.nav-link:hover a{
    padding-left: 1.25rem;
    color: var(--section-bg-color);
}

.social-icon-links{
    display: none;
}

.nav-toggle{
    display: inline-block;
    background: transparent;
    border: transparent;
    font-size: 1.5rem;
    transition: var(--transition);
}

.nav-toggle:hover {
    color: var(--btn-bg-color);
    cursor: pointer;
}
}

/*nav-ends*/

/*Page starts*/
.page{
    padding-top: 7rem;
    height: 100vh;
    background: linear-gradient(225deg, rgba(255,142,60,0.5), rgba(255, 142, 60, 0.8)), url('../img/pexels-pixabay-158441.jpg') no-repeat center center / cover;
    /* background: url('../img/Background-img.jpg') no-repeat center center / cover; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page h1{
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 4rem;
    color: var(--section-bg-color);
}

.page p{
    max-width: 50vw;
    text-align: center;
    font-size: 1.2rem;
    color: #0d0d0d;
    margin-bottom: 1.5rem;
    margin-top: 0;
}

.explore-btn{
    width: 14rem;
        height: 4rem;
        padding: 0.2rem 1rem;
        border: none;
        border-radius: 0.3rem;
        transition: var(--transition);
        color: var(--btn-text);
        text-transform: uppercase;
        font-size: 1.5rem;
        font-family: 'Oregano', 'sans-serif';
        box-shadow: var(--lightShadow);
}

.explore-btn:hover{
    color: var(--btn-bg-color);
    transform: scale(1.05);
    cursor: pointer;
}


/*About Us*/

.about-us{
    background-color: var(--section-bg-color);
}

.section-center{
    width: 90vw;
    margin: auto;
}

.heading{
    padding-top: 6rem;
    margin-bottom: 3rem;
    font-size: 3.5rem;
    text-align: center;
}


.img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
    border-radius: 0.5rem;
}

.about-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
    padding-bottom: 4rem;
}

.img-container{
    height: 21rem;
    width: 37rem;
    /* background-color: red; */
  
    position: relative;
}

.img-container::before{
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: -1.5rem;
    left: -2.7rem;
    width: 100%;
    height: 100%;
    border: 0.25rem solid var(--btn-bg-color);
        border-radius: 0.5rem;
        z-index: -3;
}

.about-details{
    display: flex;
    flex-direction: column;
    align-items: left;
}
.about-details h2{
margin-bottom: 0;
}

.read-more-btn{
    margin-top: 1.5rem;
    width: 9rem;
    height: 3rem;
    background-color: var(--btn-bg-color);
    padding: 0.2rem 1rem;
        border: none;
        border-radius: 0.3rem;
        transition: var(--transition);
        color: black;
        text-transform: uppercase;
        box-shadow: var(--lightShadow);
}

.read-more-btn:hover{
    cursor: pointer;
    transform: scale(1.05);
   
}

@media screen and (max-width: 1100px){
.about-container{
    /* width: 80vw; */
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img-container::before{
    border: none;
}
.about-details h2{
    margin-top: 1.5rem;
}
}

/*Services*/
.our-services{
background-color: var(--bg-color);
}


.services{
    /* margin: 2rem 0; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.service{
    display: grid;
    grid-template-columns: 25% 75%;
    padding-bottom: 4rem;
}
.service i{
font-size: 2rem;
    color: var(--heading-color);
    background-color: var(--btn-bg-color);
    height: 4.7rem;
    width: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-details{
    display: flex;
    justify-content: center;
}

.service-heading{
    font-size: 1rem;
    display: block;
}
.service h4{
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.services p{
    margin-top: 0;
    font-size: 0.85rem;
}

.service-details{
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1100px){
    .services{
        display: grid;
        grid-template-columns: repeat(2, 1fr) ;
        column-gap: 1.5rem;
    }
    .service{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .service-details{
        margin-top: 2rem;
    }
    .service-heading{
        text-align: center;
    }
        .service-details p{
            text-align: center;
        }

}

/*Featured tours starts*/

.featured-tours{
    /* height: 200vh; */
    background-color: var(--section-bg-color);
}

.featured-tours-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 1.5rem;
    row-gap: 2rem;
}

.featured-card{
    width: 20rem;
    border-radius: 0.5rem;
    height: 27rem;
    margin-bottom: 4rem;

    transition: var(--transition);
    background-color: var(--bg-color);
}
.featured-card:hover{
    transform: scale(1.03);
    cursor: pointer;
    box-shadow: var(--lightShadow);
}
.card-details{
    padding: 1rem;
}

.card-heading h2{
    margin: 0;
    font-size: 1.7rem;
}

.details p{
    font-size: 0.95rem;
    color: var(--para-text);
}

.tour-info{
    display: flex;
    color: #ff8e3c;
    justify-content: space-between;
}

@media screen and (max-width: 1100px){
    .featured-tours-grid{
        display: flex;
        flex-direction: column;
    }
    .featured-card{
        width: 90%;
        margin: auto;
        height: 35rem;
    }
}


/*Newsletter*/

.newsletter{
   
    background-color: var(--btn-bg-color);
}

/* .newsletter-grid-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.newsletter .section-center{
    /* height: 50vh; */
    display: flex;
    justify-content: center;
        align-items: center;
}

.newsletter-grid{
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
}

.newsletter-grid-right{
    display: flex;
    flex-direction: column;
}
.text{
        width: 35rem;
            height: 3rem;
            padding: 0.5rem 1rem;
            margin-bottom: 1.2rem;
            border-radius: 0.2rem;
            border: none;
}
.submit-btn{
        width: 9rem;
        height: 3rem;
        background-color: var(--bg-color);
        padding: 0.2rem 1rem;
        border: none;
        border-radius: 0.3rem;
        transition: var(--transition);
        color: black;
        text-transform: uppercase;
        box-shadow: var(--lightShadow);
    }
    
    .submit-btn:hover {
        cursor: pointer;
        color: var(--btn-bg-color);
        transform: scale(1.05);
    
    }

    @media screen and (max-width: 1100px){
        .newsletter-grid{
            display: flex;
            flex-direction: column;
        }
    }

    .gallery{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }

    .gallery-image-container{
    width: 19.5rem;
        /* height: 13rem; */
    }

    .gallery .img{
        border-radius: 0;
        display: block;
    }


    /*Footer*/

    footer{
        display: flex;
        flex-direction: column;
       
        background-color: var(--btn-bg-color);

    }

    .footer-center{
        width: 50vw;
        margin: auto;
      
    }

    .footer-links{
        padding-top: 4rem;
        list-style: none;
        display: flex;
        justify-content: space-between;
    }

    .footer-link a{
        text-decoration: none;
        color: var(--btn-text);
        font-size: 1.3rem;
        transition: var(--transition);
    }
        .footer-link a:hover{
            color: var(--section-bg-color);
            cursor: pointer;
        }

        .footer-icon-links{
            list-style: none;
                display: flex;
                justify-content: center;
                font-size: 1.4rem;
                padding-bottom: 2rem;
                margin-bottom: 0;
        }
                 .footer-icon-link{
                     padding: 1rem;
                     transition: var(--transition);
                 }
                .footer-icon-link:hover{
                    color: var(--section-bg-color);
                        cursor: pointer;
                }
        .description{
                padding-top: 1rem;
                    text-align: center;
        }

    footer .footer-links{
        margin-top: 0;
    }